.AccueilPage{
    position: relative;
    top: -140px;
}
 a{
    width: 28%;
    text-decoration: none; 
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background: linear-gradient(177deg, #ffe319 26%, #000000 10%, #bbf9bb 37%, #fffac9 102%);
    border-radius: 30px;
    animation: myAnimBurger 2s linear 0s 1 alternate backwards;
 }
@keyframes myAnimBurger {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-25px) rotate(6deg);
    }

    30% {
        transform: translateX(15px) rotate(-6deg);
    }

    45% {
        transform: translateX(-15px) rotate(3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(-2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(1.2deg);
    }
}

@media screen and (max-width: 781px){
    a{
        width: 35%;
        padding-bottom: 5px;
        position: relative;
    } 
}

@media screen and (min-width: 782px) and (max-width: 12800px) {
.AccueilPage{
    width: 26%;
}
}