.burger img{
width: 42%;
max-height: 115px ;
object-fit: cover;
border-radius: 30px;
}
.burger img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 4px 10px 2px #0b4929;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {

  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.burger-title{
    font-size: 30px;
    color: #238a0f;
    font-weight: lighter;
}
.burger{
  box-shadow: none;
}
.priceBurger{
  width: 8%;
  height: 22px;
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 50px;
  font-weight: lighter;
  box-shadow: black 2px 2px 10px 2px;
  
}
