.header{
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 100px;
   margin-top: 50px;
   perspective: 175px;

}
.headerTitle{
    font-size: 55px;
    background: linear-gradient(177deg, #f1eb97 0%, #bbf38c 15%, #9bfa9b 27%, #fcef7c 82%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    align-items: center;
    transform: rotateX(10deg) rotateY(14deg);
    transform-style: preserve-3d;
    text-shadow: #000 1px 1px 1px;
}
li{
    list-style: none;
    font-size: 20px;
}
.header a{
   color: #000;
    text-decoration: none;
    margin-bottom: 2px;
}
.header ul a:hover{
    text-decoration: underline 2px  rgb(245, 187, 173);
}
.header a.active{
    color: rgb(228, 85, 85);
    text-decoration: underline 2px  rgb(165, 33, 33);
}
.accueil, .a-propos{
    font-size: 18px;
    margin-top: 15px;
}

