.header{
  width: 50%;
   margin: auto;
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 100px;
   margin-top: 50px;
   perspective: 175px;

}
.headerTitle{
    font-size: 55px;
    background: linear-gradient(177deg, #f1eb97 0%, #bbf38c 15%, #9bfa9b 27%, #fcef7c 82%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    align-items: center;
    transform: rotateX(10deg) rotateY(14deg);
    transform-style: preserve-3d;
    text-shadow: #6b6969 4px 12px 1px;
}
.header a{
   color: #000;
    text-decoration: none;
    margin-bottom: 2px;
}
.header ul a:hover{
    text-decoration: underline 2px  rgb(163, 171, 240);
}
.header a.active{
    color: rgb(13, 131, 2);
    text-decoration: underline 2px  rgb(61, 177, 51);
}
.accueil, .a-propos{
    font-size: 20px;
    margin-top: 15px;
}

