body{
    margin: 0;
    background-color: rgb(245, 255, 243);
}
main{
    width: 60%;
    padding-top: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 100px;
}
@media screen and (max-width: 781px) {
    main{
        width: 100%;
    }
}
