body{
    margin: 0;
    background-color: rgb(245, 255, 243);
}
main{
    width: 80%;
    padding-top: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 248, 235);
    padding-bottom: 50px;
}